@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
*{
	margin: 0;
	padding: 0;
	color: inherit;
	text-decoration: none;
}

header nav ul{
	position: fixed;
  	top: 0;
  	width: 99.9%;
  	z-index: 3;
  	text-align: center;
  	background-image: url(snimki/dark-gray.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}
header img{
	position: fixed;
  	top: 0;
  	width: 16.5%;
  	z-index: 5;
}
header nav ul li{
	display: inline-block;
	font-size: 20pt;
	padding: 2%;
}
body{
	background-image: url(snimki/dark-gray.jpg);
	background-repeat: repeat;
	background-position: center;
	background-size:cover;
	width: 100%;
	font-family: Comfortaa;
	color: white;
}
#section-image img{
	width: 99.9%;
	margin-top: 6%;
}
#articles{
	}
#articles article{
	width: 45%;
	display: inline-block;
	text-align: center;
	margin: 0 2.4%;
}
#articles article img{
	width: 90%;
	padding-bottom: 1%;
}
#articles article h1{
	font-size: 24pt;
	padding: 1% 0;
}
#contacts{
	width: 100%;
	margin: 2% 0;
}
#contacts #restaurant{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: white;
	color: rgb(35,35,33);
	min-height: 310px;
}
#contacts #restaurant div{
	display: inline-block;
}
#first{
	width: 45%;
	text-align: justify;
	margin-top: -5%;
}
#first h1{
	font-size: 20pt;
}
#first p{
	font-size: 13pt;
}
#second{
	width: 45%;
	margin-top: 2%;
	padding-left: 5%;
}
#forma{
	width: 100%;
	margin-top: 2%;
	text-align: center;
	font-size: 15pt;
}
#forma h1{
	padding-bottom: 1%;
	font-size: 20pt;
}
#fname{
	margin-right: 5%;
	margin-bottom: 1%;
}
#submit{
	color: rgb(35,35,33);
	padding: 1%;
	font-size: 14pt;
}
#submit:hover{
	color: white;
	background-color: rgb(35,35,33);
}
footer{
	width: 100%;
	background-color: white;
	color: rgb(35,35,33);
	padding: 1% 0;
}
footer div{
	width: 33%;
	display: inline-block;
	text-align: center;
}
footer div a img:hover{
	width: 10%;
}